<div class="container">
    <h1>Home</h1>
    <i class="icon icon-ladder"></i>
    <%= require('components/input/input.ejs')({ data: 123 }) %>
    <%= require('components/input/input.ejs')({ data: 121231312 }) %>
    <%= require('components/input/input.ejs')({ data: 123 }) %>
</div>