<header class="js--site-header site-header" >
    <div class="container" >
        <nav>
            <ul>
                <li><a class="common-anchor" href="./">Home</a></li>
                <li><a class="common-anchor" href="./about.html">About</a></li>
                <li><a class="common-anchor" href="./contact.html">Contact</a></li>
                <li><a class="common-anchor" href="./careers.html">Careers</a></li>
                <li><a class="common-anchor" href="./ourCrew.html">Our Crew</a></li>
                <li><a class="common-anchor" href="./test.html">Test</a></li>
            </ul>
        </nav>
    </div>
</header>